/node_modules
/entities/schema.xml
/entities/build/sql/schema.sql
/entities/build/conf
/entities/build/classes/miltype/om
/entities/build/classes/miltype/map
/config/cfg.php
/entities/runtime-conf.xml
/entities/build.properties
/vendor
/logs
