@c-BgDark: #383838;


.logo {
  display: block;
  height: 80px;
  >img {
    width: 180px;
    padding-top: 16px;
  }
}

#layerslider h2.girlsschools {
  color: white;
  background-color: @c-BgDark;
  padding: 8px;
}

// #navigation {
//   width: 100%;
// }