<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><?php echo $this->var['windowtitle']; ?></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link media="all" rel="stylesheet/less" type="text/css" title="assets/css/frame.less" href="<?php echo $this->var['basePath']; ?>assets/frame.less" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="navigation">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainTopNavigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="<?=$this->baseUrl?>"><?=$this->textBrandName?></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="mainTopNavigation">
                        <ul class="nav navbar-nav">
                            <?php
                              foreach ($this->navigationLinks as $link) {
                                $className = '';
                                if ( $link[2] )
                                    $className = 'active';

                                echo '<li class="'.$className.'"><a href="'.$link[0].'">'.$link[1].'</a></li>';
                              }
                            ?>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div><!-- /.container-fluid -->
            </nav>
        </div>


        <div id="body">
            <?php echo $this->var['controllerBody']; ?>
        </div>


        <noscript>
          <div id="conNoJS">
            <h1>You need to change a setting in your web browser</h1>
            <div class="font-size-15">
              <p>This website requires a browser feature called <strong>JavaScript</strong>.
              Don't worry, all modern browsers support JavaScript, so you probably just need to change your settings
              in order to turn it on.</p>
              <p>Check out this article by Google for details:
              <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser.</a></p>
              <p>Try to <a href="">reload this page</a> once JavaScript is activated.</p>'
            </div>
          </div>
        </noscript>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
